#mapcontainer {
    > .mapview {
        position: absolute;
        height: 100vh;
        width: 100vw;
    }

    > .latlon {
        position: fixed;
        bottom: 2.5em;
        left: 5em;
        width: 8em;

        > .ol-mouse-position {
            color: white;
            display: inline;
            font-size: 0.6em;
        }
    }

    > .attributespopup {
        color: red;

        > .attributestable {
            color: green;
        }
        // position: absolute;
        // background-color: white;
        // box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        // padding: 15px;
        // border-radius: 10px;
        // border: 1px solid #cccccc;
        // bottom: 12px;
        // left: -50px;
        // min-width: 280px;
    }
}

.ol-zoom {
    left: 4em;
    // right: 1em;
    top: unset;
    bottom: 1em;
}