#navbarcontainer {
    position: fixed;
    top: 0vh;
    left: 0vw;
    right: 0vw;
    height: 6vh;
    color: white;
    background-color: rgba(0,60,136,1);

    > .navbar {
        position: relative;
        display: table;
        left: 1.5%;
        top: 50%;
        width: 95%;
        transform: translateY(-30%);

        > .logo {
            float: left;
            transform: translateY(-15%);
        }

        > .functioncategory {
            float: left;
            margin-left: 5em;
        }

        > .title {
            float: right;
        }

        > .notLoggedInSpan {
            > .loginbtn {
                float: right;
                margin-left: 2em;
                border: 1px solid blueviolet;
                color: white;
                background-color: rgba(0,60,136,0.5);
    
                &:hover {
                    background-color: rgba(100,60,136,0.8);
                }
    
                &:active {
                    color: rgba(100,60,136,0.8);
                    background-color: white;
                }
            }

            > .loginbox {
                position: absolute;
                top: 2em;
                right: -2em;
                padding: 1em;
                background-color: rgba(255,255,255,0.4);

                > .logincomponents {
                    display: block;
                    margin: 0.5em;
                    padding: 1em;
                    color: white;
                    font-size: 1.14em;
                    font-weight: bold;
                    text-decoration: none;
                    text-align: center;
                    line-height: 1em;
                    background-color: rgba(0,60,136,0.5);
                    border: none;
                    border-radius: 0.5em;
                
                    input {
                        padding: 10px;
                    }
                
                    button {
                        padding: 10px;
                    }
                }
            }
        }

        > .loggedInSpan {
            float: right;
            margin-left: 2em;

            > .logoutbtn {
                margin-left: 2em;
                border: 1px solid blueviolet;
                color: white;
                background-color: rgba(0,60,136,0.5);
    
                &:hover {
                    background-color: rgba(100,60,136,0.8);
                }
    
                &:active {
                    color: rgba(100,60,136,0.8);
                    background-color: white;
                }
            }
        }
    }
}