#markedvillages {
    > .toolcontainer {
        position: fixed;
        top: 7vh;
        right: 0.3em;

        pointer-events: auto;
        background-color: rgba(255,255,255,0.4);
        border-radius: 0.5em;
        padding: 0.1em;

        > .toolbox {
            display: block;
            margin: 1px;
            padding: 0;
            color: white;
            font-size: 1.14em;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            height: 1.375em;
            width: 1.375em;
            line-height: .4em;
            background-color: rgba(0,60,136,0.5);
            border: none;
            border-radius: 2px;

            &:hover {
                background-color: rgba(0,60,136,0.7);
            }

            &:active {
                color: rgba(0,60,136,0.7);
                background-color: white;
            }
        }
    }
}