#markedvillages {
    > .measuretools {
        > .linemeasure {
            display: block;
            margin: 1px;
            padding: 0;
            color: white;
            font-size: 1.14em;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            height: 1.375em;
            width: 1.375em;
            line-height: .4em;
            background-color: rgba(0,60,136,0.5);
            border: none;
            border-radius: 2px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0,60,136,0.7);
            }

            &:active {
                color: rgba(0,60,136,0.7);
                background-color: white;
            }
        }
    }
    > .toolscontainer {
        position: fixed;
        top: 8vh;
        right: 1em;

        pointer-events: auto;
        background-color: rgba(255,255,255,0.4);
        border-radius: 0.5em;
        padding: 0.2em;

        > .toggletools {
            display: block;
            margin: 1px;
            padding: 0;
            color: white;
            font-size: 1.14em;
            font-weight: bold;
            text-decoration: none;
            text-align: center;
            height: 1.375em;
            width: 1.375em;
            line-height: .4em;
            background-color: rgba(0,60,136,0.5);
            border: none;
            border-radius: 2px;
            cursor: pointer;

            &:hover {
                background-color: rgba(0,60,136,0.7);
            }

            &:active {
                color: rgba(0,60,136,0.7);
                background-color: white;
            }
        }

        > .tools {
            position: fixed;
            top: 15vh;
            right: 1em;
            background-color: rgba(255,255,255,0.4);
            // width: 50vw;
            // height: 30vh;
            padding: 0.2em;
            border-radius: 0.2em;

            > .display-table-tools {
                display: table;
                background-color: rgba(0,60,136,0.1);
                text-align: center;
                height: 100%;
                float: right;

                > div {
                    display: table-row;

                    > div {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 0.2em;
                        // font-size: 0.8em;
                        
                        > button, span {
                            font-size: 0.5em;
                        }
                    }
                }
            }

            .display-table-features {
                display: table;
                background-color: rgba(0,60,136,0.1);
                text-align: center;
                height: 100%;
                border-collapse: collapse;
                font-size: 0.5em;
                width: 100%;

                > div {
                    display: table-row;
                    border: 1px solid #000;

                    > div {
                        display: table-cell;
                        border: 1px solid #000;
                        vertical-align: middle;
                        padding: 0.2em;
                        
                        > button {
                            > span {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
        }
    }

    > .userattributescontainer {
        > .userattributestable {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            pointer-events: auto;
            background-color: rgba(200, 200, 200, 1.0);
            padding: 0.2em;
            border-radius: 0.5em;
            display: table;

            > div {
                display: table-row;

                > div {
                    display: table-cell;
                    text-align: right;
                    vertical-align: middle;
                    padding: 0.2em;
                    color: rgba(0,60,136,1.0);
                    font-size: 1.0em;
                    
                    > button {
                        font-size: 0.5em;
                        float: right;
                    }

                    > .userattributesclose {
                        display: block;
                        margin: 0.1em;
                        padding: 0.2em;
                        color: white;
                        font-weight: bold;
                        text-decoration: none;
                        background-color: rgba(0,60,136,0.5);
                        border: none;
                        border-radius: 2px;
                        cursor: pointer;
            
                        > span {
                            font-size: 1em;
                        }
                    }
                }
            }
        }
    }
}