#filescontainer {
    > .fileuploadercontainer{
        position: fixed;
        top: 20vh;
        left: 10em;
        // width: 20em;
        padding: 1em;
        line-height: 4em;

        background-color: rgba(0,60,136,0.9);

        > .close {
            float: right;
            color: white;
            cursor: pointer;
        }

        > .village {
            font-size: large;
            color: white;
        }

        > .fileuploader {
            > .file{
                color: white;
            }
    
            > .description {
                padding: 1em;
            }

            > .uploadbtn {
                padding: 1em;
            }
        }
    }

    > .filesloadercontainer{
        position: fixed;
        top: 20vh;
        left: 10em;
        // width: 20em;
        padding: 1em;
        overflow-y:scroll;

        background-color: rgba(0,60,136,0.9);

        > .close {
            float: right;
            color: white;
            cursor: pointer;
        }

        > .village {
            font-size: large;
            color: white;
        }

        > .display-table-abadilist {
            display: table;
            background-color: rgba(0,20,136,0.5);
            text-align: center;
            max-height: 2em;
            float: right;
            color: white;
            overflow-y: scroll;

            > div {
                display: table-row;

                > div {
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0.2em;
                    // font-size: 0.8em;
                    
                    > button {
                        background-color: rgba(0,60,136,0.9);
                        font-size: 0.9em;

                        &:hover {
                            background-color: rgba(0,60,136,0.1);
                            color: blue;
                        }

                        &:active {
                            background-color: rgba(0,60,136,0.1);
                            color: white;
                        }
                    }

                    > span {
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
}