@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    border: 0;
    padding: 0;
}

#app {
  .globaltoast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 14em; /* Set a default minimum width */
    margin-left: -7em; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 0.1em; /* Rounded borders */
    padding: 0.5em; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
  }

  .globaltoast.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 2em; opacity: 1;}
  }
  
  @keyframes fadeout {
    from {bottom: 2em; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
}
