#navbar {
    > .navcontainer {
        background-color: grey;
        color: white;
        padding: 10px;
        font-size: 20px;
        min-height: 2em;

        > .title {
            float: left;
        }

        > .logout {
            float: right;
        }
    }
}