* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

#map {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

#mapview {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#controllerbtncontainer {
    position: fixed;
    pointer-events: auto;
    top: .5em;
    right: .5em;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}

#controllerbtn {
    display: block;
    margin: 1px;
    padding: 0;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 1.375em;
    line-height: .4em;
    background-color: rgba(0,60,136,0.5);
    border: none;
    border-radius: 2px;

    &:hover {
        background-color: rgba(0,60,136,0.7);
    }
}

#controllerbox {
    position: absolute;
    top: 3em;
    right: 1em;
    padding: 4px;
    background-color: rgba(255,255,255,0.4);
}

#loginsection {
    display: block;
    margin: 1px;
    padding: 1em;
    color: white;
    font-size: 1.14em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    line-height: 1em;
    background-color: rgba(0,60,136,0.5);
    border: none;
    border-radius: 2px;

    input {
        padding: 10px;
    }

    button {
        padding: 10px;
    }
}